//colores
$black:#000000;
$white:#ffffff;
$paleovioletred:#db7094e3;
$lightpink:#ffb6c1;
$oldlace:#fdf5e6;

//fuentes
$openFont: sans-serif;
$poppinsFont: sans-serif;

//peso de fuentes
$fwExtraLight:200;
$fwLight:300;
$fwRegular:400;
$fwSemiBold:600;