.perfil__button{
    display: flex;
    &__perfil__button{

        &__coral{
            
            background-color: $coral;
            color: $white;
            font-weight: $fwRegular;
            font-size: 10px;
        }
        &__perfil__button__aqua{
            background-color:$aqua;
            color: $white;
            font-weight: $fwRegular;
            font-size: 10px;
            border:none;
            padding:10px 15px;
            
        }
    }
            


}

       



