.container__perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @media (min-width: 768px) {
    justify-content: space-between;
  }
  &__button {
    &__container {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    &__coral {
      background-color: $coral;
      color: $white;
      font-weight: $fwRegular;
      font-size: 14px;
      border: none;
      padding: 5px 10px;
    }
    &__aqua {
      margin-left: 10px;
      background-color: $aqua;
      color: $white;
      font-weight: $fwRegular;
      font-size: 14px;
      border: none;
      padding: 5px 10px;
    }
  }
}
