.button-ross{
    background-color: $paleovioletred;
    color: $white;
    font-weight: $fwRegular;
    &__rosa{
        background-color:$lightpink;
        color: $white;
        font-weight: $fwRegular;

    }
}