.contenedor {
  &__header {
    height: 80px;
    background-image: url(../img/image-banner.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 768px) {
      height: 200px;
    }
  }
}
