.contenedor__barranav{
    display:flex;
    padding: 0 150px;
    justify-content: space-between;
    background-color: $oldlace;
    flex-direction: row;
    &__iconos ul{
        display: flex;
        list-style: none;
        padding: 30px;
        
    
    }
}